.center{
    text-align: center;
}
.block-1{
    border: 1px solid black;
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
.box{
    height: 300px;
    margin: 10px;
    background-color: aqua;
    font-size: 100px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.box1{
    width: 300px;
}
.box2{
    width: 500px;
}
